<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shinian.pay">
<!-- Android 11+ 包可见性配置 -->
<queries>
    <package android:name="com.tencent.mm" />
    <package android:name="com.eg.android.AlipayGphone" />
</queries>

    <!-- 请求忽略电池优化 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- 完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 控制振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 修改或删除 SD 卡中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 读取存储卡中的内容 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 拍摄照片和录制视频 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 运行前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- 在后台运行 -->
    <uses-permission android:name="android.permission.RUN_IN_BACKGROUND"/>

    <!-- BIND_NOTIFICATION_LISTENER_SERVICE -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>

    <!--相机对焦-->
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"
        android:smallScreens="true"/>

    <application
        android:name=".PayApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>


        <activity
            android:name=".HelpActivity"
            android:label="@string/HelpActivity"/>

        <activity
            android:name=".WxPayActivity"
            android:label="@string/WxPayActivity"/>

        <activity
            android:name=".SettingActivity"
            android:label="@string/SettingActivity"
            android:launchMode="singleTask"/>

        <activity
            android:name=".FeedActivity"
            android:label="@string/FeedActivity"/>

        <activity
            android:name=".SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"/>

        <activity android:name="com.google.zxing.activity.CaptureActivity"/>

        <service
            android:name=".PayNotificationListenerService"
            android:label="@string/qx"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">

            <intent-filter>

                <action android:name="android.service.notification.NotificationListenerService"/>

            </intent-filter>

        </service>

        <service
            android:name=".ForeService"
            android:enabled="true"
            android:exported="true"/>

        <service
            android:name=".service.DaemonService"
            android:enabled="true"
            android:exported="true"
            android:process=":daemon_service"/>

        <service
            android:name=".service.CancelNoticeService"
            android:enabled="true"
            android:exported="true"
            android:process=":service"/>

        <service
            android:name=".service.PlayerMusicService"
            android:enabled="true"
            android:exported="true"
            android:process=":music_service"/>

        <service
            android:name=".service.AliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".receiver.KeepAliveReceiver"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.ACTION_USER_PRESENT"/>

            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.MEDIA_MOUNTED"/>

                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>

                <data android:scheme="file">

                </data>

            </intent-filter>

            <intent-filter>

                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>

                <action android:name="android.net.wifi.STATE_CHANGE"/>

            </intent-filter>

        </receiver>

    </application>

</manifest>
